@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');


body {
    font-family: "Poppins", sans-serif;
    margin : 0;
    padding:  0;
    text-decoration: none;
    list-style: none;
}

nav {
    display: flex;
    justify-content:  space-between;
    color:  white;
/* mix-blend-mode: multiply; */
}

 nav ul{
display: flex;
list-style: none;
text-align: right;
text-decoration:  none;


}

nav ul li {
    padding: 0.5rem;    
}

.Logo {
    
    margin: 2rem;
}

.login{
    all : unset;
    padding: 6px 16px;
    background: blue;
    height: 32px;
    color: white;
    font-weight: 500;
    /* color: brgb(63, 63, 137); */
    text-decoration: none;
    border-radius: 5rem;
    /* background-color: rgb(234, 182, 164); */
}