@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap");

body {
  font-family: "Poppins", sans-serif;
  margin: 0px;
  padding: 0px;
  text-decoration: none;
  list-style: none;
  width: 100%;
}

.navbar-parent-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 1rem;
  width: 100%;
  /* z-index: 90; */
  position: sticky;
  position: -webkit-sticky;
  top: 0;
  z-index: 1;
  width: 100%;
  margin-bottom: 1rem;
  /* background-color: grey; */
}

.logo .socio-header {
  font-weight: 700;
  font-size: 30px;
  color: grey;
}
.logo .gram-header {
  font-weight: 700;
  font-size: 25px;
}

.navbar-parent-container .logo .nav-item {
  text-decoration: none;
  color: black;
}

/* //right menu bar */
.navbar-parent-container .menubar-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding-right: 2rem;
  align-self: flex-end;
  column-gap: 3rem;
  /* background-color: orange; */
}

.menubar-container .nav-item {
  text-decoration: none;
  color: black;
}

.menubar-container .nav-item-user {
  text-decoration: none;
  color: black;
  font-weight: 600;
  font-size: 20px;
}
